#header {
    height:60px;
    width:100%;
    background-color:#B4DEFA;
    }
#uppermiddle{
    height:500px;
    width:100%;
    background-color:#B4FAF3;
    }
#bigimage {
    display: block;
    margin: auto;
    width: 40%;
    height:100px;
}
#lowermiddle{
    height:500px;
    width:100%;
    background-color:#B4FAF3;
    text-align:center;
    }
#oranges{
    width:100px;
    font-size:16px;
    }
#applez {
    color:#FAFAB4;
}
#footer {
    height:60px;
    width:100%;
    background-color:#B4DEFA;
    }
