#wrap{
    width:700px;
    height:750px;
    background-color:#9effc4;
    }

#header {
    height:50px;
    background-color:#D9FF9E;
    }

#middle{
    height:435px;
    }

#corgithing{
    width:600px;
    }

#middle-down{
    height:200px;
    font-family:"Comic Sans MS";
    font-size:20px;
    }

#right{
    float:right;
    width:100px;
    height:835px;
    }

._button{
    height:50px;
    width:90px;
    background-color:#A8FF9E;
    color:black;
    }

#footer{
    height:50px;
    background-color:#D9FF9E;
    }
